name: Deploy Javadoc

on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v1
        with:
          java-version: 11
          java-package: jdk+fx
      - name: Generate Javadoc
        run: ./gradlew javadoc
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@3.5.9
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          CLEAN: true
          FOLDER: build/docs/javadoc
          TARGET_FOLDER: docs
